---
layout: page-fullwidth
header:
  image_fullwidth: duxford-soapbox-derby-header.jpg
title: "Couch to Soap Box Derby 2021"
meta_title: "Run the famous derby route"
datatables: 
  - 
    id: results_adults
    sort_column: 
      column: 2
      order: desc
  - 
    id: results_kids
    sort_column: 
      column: 2
      order: desc 
---

{% assign adults = site.data.c2sbd-2021.summary.adults %}
{% assign kids = site.data.c2sbd-2021.summary.kids %}

<h2>Adult's course results</h2>
<table id="results_adults" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Route</th>
      <th>Times run</th>
      <th>Fastest time</th>
    </tr>
  </thead>
  <tbody>
{% for row in adults.results %}
    <tr>
      <td><a href='{{site.url}}{{site.baseurl}}/couch_to_soap_box_derby/2021/{{row.normalised_name}}'>{{ row.name }}</a></td>
      <td>{{ row.route }}</td>
      <td>{{ row.times_run }}</td>
      <td>{{ row.fastest_time }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h2>Children's course results</h2>
<table id="results_kids" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Route</th>
      <th>Times run</th>
      <th>Fastest time</th>
    </tr>
  </thead>
  <tbody>
{% for row in kids.results %}
    <tr>
      <td><a href='{{site.url}}{{site.baseurl}}/couch_to_soap_box_derby/2021/{{row.normalised_name}}'>{{ row.name }}</a></td>
      <td>{{ row.route }}</td>
      <td>{{ row.times_run }}</td>
      <td>{{ row.fastest_time }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

